* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul a {
    color: #473C38;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li:hover {
    font-weight: bold;
}

.text-box {
    width: 90%;
    color: #473C38;
    /*border: 1px solid black;*/
    margin: auto;
}

.text-box h1 {
    font-size: 40px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #473C38;
    border: 1px solid #473C38;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #473C38;
    background: beige;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

nav .fa-times {
    padding-left: 30px;
    padding-top: 10px;
}


/*----first page image and text css--------*/

.pageOneText {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageOneText-col {
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    /*border: 1px solid black ;*/
}

.pageOneText img {
    width: 100%;
    display: block;
}

.pageOneText p {
    font-size: 40px;
    color: #473C38;
    line-height: 2;
    word-spacing: 2px;
    letter-spacing: 2px;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .pageOneText p {
        font-size: 30px;
    }
}

/*----End of the first page image and text css--------*/


/*first page css */
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: beige;
        height: 100vh;
        width: 200px;
        top: 0;
        left: -200px; /* Adjusted to make the menu appear on the right side */
        text-align: left;
        z-index: 2;
        transition: 0.3s;
    }

    nav .fa {
        display: block;
        color: #473C38;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/*End of the first page css */


/*Page 2 css */

.pageTwo {
    background: #ECEADA;
    border: 1px solid black;
    /*padding-bottom: 100px;*/
    height: 100vh;

}

.pageTwoText {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
}

.pageTwoText-col {
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    /*border: 1px solid black ;*/
}

.pageTwoText img {
    width: 100%;
    display: block;
}

.pageTwoText p {
    font-size: 60px;
    color: #473C38;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.pageTwoText h2 {
    font-size: 25px;
    line-height: 1.5;
    word-spacing: 2px;
    font-weight: lighter;
}

@media (max-width: 1300px) {
    .pageTwoText p {
        font-size: 50px;
        line-height: 1.5;
    }
}

@media (max-width: 900px) {
    .pageTwoText p {
        font-size: 45px;
    }

    .pageTwoText h2 {
        font-size: 22px;
        line-height: 1.2;
    }

    .pageTwo .row {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .pageTwoText p {
        font-size: 35px;
    }

}

@media (max-width: 400px) {
    .pageTwo {
        height: auto;
    }

}

/*End of Page 2 page css */

/*Page 3 css */

.pageThree .text-box h1 {
    padding-top: 100px;
}

.pageThree h3 {
    color: #544541;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.pageThree h2 {
    font-size: 20px;
    color: #544541;
    letter-spacing: 2px;
}

.pageThree {
    /*padding-bottom: 100px;*/
    height: auto;
    padding-bottom: 100px;

}

@media (max-width: 700px) {

    .pageThree .text-box h1 {
        font-size: 40px;
        padding-top: 100px;
    }


}

@media (max-width: 500px) {

    .pageThree .text-box h1 {
        font-size: 30px;
    }

}

/*End of Page 3 page css */


/*Page 4 css */

.pageThreeText {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
    /*border: 1px solid black;*/
}

.pageThreeText-col {
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    /*border: 1px solid black ;*/
}

.pageThreeText img {
    width: 80%;
    display: block;
}

.pageFour .text-box h1 {
    padding-top: 100px;
}

.pageFour h3 {
    color: #544541;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.pageFour h2 {
    font-size: 30px;
    color: #544541;
    letter-spacing: 2px;

}

.pageFour {
    /*padding-bottom: 100px;*/
    height: 100vh;
    background: #ECEADA;
}

@media (max-width: 700px) {

    .pageFour .text-box h1 {
        font-size: 40px;
        padding-top: 100px;
    }
.pageFour{
    height: auto;
}
    .pageFour {
        height: auto;
    }
}

@media (max-width: 500px) {

    .pageFour .text-box h1 {
        font-size: 30px;
    }

}

/*End of Page 4 page css */

/*Page 5 css */

.pageFiveText {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
    /*border: 1px solid black;*/
}

.pageFiveText-col {
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    /*border: 1px solid black ;*/
}

.pageFiveText img {
    width: 80%;
    display: block;
}

.pageFive .text-box h1 {
    padding-top: 100px;
}

.pageFive h3 {
    color: #544541;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.pageFive {
    /*padding-bottom: 100px;*/
/*     height: 100vh;
} */
}
@media (max-width: 700px) {

    .pageFive .text-box h1 {
        font-size: 40px;
        padding-top: 100px;
    }

    .pageFive {
    }

    .pageFive h3 {
        color: #544541;
        font-size: 18px;
        font-weight: lighter;
        letter-spacing: 1px;
    }
}

@media (max-width: 500px) {

    .pageFive .text-box h1 {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .pageFive .row {
        flex-wrap: wrap;
    }
    
}

/*End of Page 5 page css */

/*Page 6 css */

.pageSix {
    background: #ECEADA;
}

.pageSix-content {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

}

.pageSix-col {
    width: 100%;
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    color: #544541;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
}

@media (max-width: 700px) {

    .pageSix h1 {
        font-size: 40px;
    }
    .pageSix {
    background: #ECEADA;
}
}

@media (max-width: 500px) {

    .pageSix h1 {
        font-size: 30px;
    }
}

/*End of Page 6 page css */

/*Page 7 css */
.pageSeven {
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
}

.pageSevenText-col {
    flex-basis: 50%;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}

.pageSevenText img {
    width: 100%;
    display: block;
}

.pageSevenText h2 {
    font-size: 30px;
    color: #473C38;
    padding: 10px;
    letter-spacing: 2px;
}

.pageSevenText h3 {
    font-size: 20px;
    color: #473C38;
    word-spacing: 2px;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: lighter;
}

@media (max-width: 700px) {

    .pageSeven h1 {
        font-size: 30px;
        text-wrap: normal;
    }

    .pageSevenText h2 {
        font-size: 20px;
    }

    .pageSevenText h3 {
        font-size: 15px;
    }

    

}

/*End of Page 7 page css */
